*{
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #000;
  color: rgb(214, 214, 214);
}

.container {
  text-align: center;
  margin-top: auto;
  height: 300px;
  width: 200px;
  background-color: #fff;
  margin: 0 auto;
}

.robot-input {
  border-radius: 10px;
  height: 25px;
  border: none;
  background-color: #111;
}